<div class="w-full min-h-[100%] flex flex-wrap place-content-center">
    <span class="w-full text-center text-blue-400 text-2xl font-inter py-10">Lo sentimos, no tienes permitido acceder a este recurso</span>
    <span class="w-full text-center text-blue-400 text-lg font-inter font underline hover:cursor-pointer"
        (click)="irAlInicio()">Volver al 'Inicio'</span>
    <img class="w-[40%]" src="assets/others/401Unauthorized.jpg" alt="">
    <span class="w-full text-center text-xs">
        <a
            href="https://www.freepik.es/vector-gratis/ilustracion-concepto-error-401-no-autorizado_7906232.htm#query=401&position=4&from_view=search&track=sph">Imagen
            de storyset</a> en Freepik
    </span>
</div>