<div class="w-full min-h-screen bg-slate-300 p-10">
    <div class="flex flex-wrap place-content-center">
        <div class="basis-full h-18 bg-slate-800 text-white text-xl place-content-center p-4">
            <span class="text-4xl">Articulos</span>
        </div>
        <div class="basis-full flex flex-wrap">
            <div class="basis-full md:basis-1/2 text-2xl p-4"></div>
            <div class="basis-full md:basis-1/2 text-xl p-4 text-center flex">
                <button class="hover:cursor-pointer rounded-lg shadow-md bg-green-300 p-2" (click)="gotToArt(0)">
                    <span>Nuevo Articulo</span>
                    <mat-icon fontIcon="add" class=" pl-1 pt-1"></mat-icon>
                </button>
                <button class="hover:cursor-pointer rounded-lg shadow-md bg-blue-500 p-2 ml-2" (click)="goToMenu()">
                    <span>Volver al Menú</span>
                </button>
            </div>
        </div>
        <div class="basis-full bg-white rounded-[5px]">
            <div class="m-4 flex flex-wrap place-content-center sm:place-content-start">
                <mat-card *ngFor="let a of articulos"
                    class="w-[250px] !bg-blue-200 hover:cursor-pointer hover:shadow-xl m-2">
                    <mat-card-header class="my-2 !text-lg">
                        <mat-card-title>
                            <div class="w-full flex flex-wrap">
                                <span class="basis-full text-left">Codigo: {{a.codigo}}</span>
                                <span class="basis-full text-left mb-2">Precio: {{a.precio | currency}}</span>
                            </div>
                        </mat-card-title>
                        <mat-card-subtitle>
                            <span class="basis-full text-left">Stock: {{a.stock}}</span>
                        </mat-card-subtitle>
                    </mat-card-header>
                    <img class="w-[250px] h-[250px]" [src]="a.imagen" alt="">
                    <mat-card-content>
                        <div class="w-full border-b-2 m-1">
                            <span class="w-full text-justify text-lg">{{a.descripcion}}</span>
                        </div>
                    </mat-card-content>
                    <mat-card-actions class="w-full flex flex-wrap place-content-between m-2">
                        <mat-icon class="basis-1/2 text-center hover: cursor-pointer" (click)="gotToArt(a.id)"
                            fontIcon="edit"></mat-icon>
                        <mat-icon class="basis-1/2 text-center hover: cursor-pointer"
                            (click)="eliminarArticuloPorId(a.id)" fontIcon="delete"></mat-icon>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>
<app-alert></app-alert>